@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

input {
    width: 200px;
    height: 40px;
}

.rightIcons {
    display: flex;
    flex-direction: row;
}