@import "https://use.fontawesome.com/releases/v5.7.2/css/all.css";

.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
}

.leftIcons {
    display: flex;
    flex-direction: row;
    
}

input {
    width: 200px;
    height: 40px;
}

.rightIcons {
    display: flex;
    flex-direction: row;
    
}

.rightIcons > p {
    margin-left: 20px;
}

.banner {
    width: 8%;
    height: 8%;
}